
body {
	margin‐left:auto;
	margin‐right:auto;
	background-color: lightblue;

}
h2{
	font-weight: bolder;
	width: 30%;height: 30%;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 10%;
	color: gray;
}
h4{
	font-size: medium;
}